<p>
    <input type="checkbox" id="options-author-hover" checked></input>
    <label for="options-author-hover" data-l10n-id="ep_author_hover.showHoverLabel">
      Show Author on Hover
    </label>
</p>
